
.header{
  background-image: url("../assets/backgrounds/landing.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  color:white;

}

 .header img{
   background-position: center;
   padding: 80px;
 }

.burgers{
  background-position: center;
}

#breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");
  padding: 80px;
  color: white;
  padding-left: 80px;

}

.section1{
  margin:100px
}
#Lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  padding: 80px;
  color: white;
  padding-left: 80px;
  margin: auto;
}

#dinner{
  background-image: url("../assets/foodtop/dinner.jpg");
  padding: 80px;
  margin: inherit;
  color: white;
}
#Happyhour{
  color: #F15A29 ;
  padding:left;
  padding-bottom: 50px;
}
#Partytime{
  background-color: #F15A29;
  padding: 40px;
  color: white;
  padding-bottom: 40px;

}

.section1{
  margin:100px
}
.section3{
  background-size: cover;
  background-image: url("../assets/backgrounds/foodsBg.jpg");
}
