
.header{
  background-image: url("../assets/backgrounds/landing.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  color:white;

}

 .header img{
   background-position: center;
   padding: 80px;
 }
