
.header{
  background-image: url("../assets/backgrounds/landing.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  color:white;
  padding-bottom: 150px;

}

 .header img{
   background-position: center;
   padding: 80px;
 }


#breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 80px;
  color: white;
  font-size: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: center;
  font-style: italic;


}

.section1{


}
#Lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 80px;
  color: white;
  padding-left: 80px;
  font-size: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: left;
  font-style: italic;

}

#dinner{
  background-image: url("../assets/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 80px;
  display: inherit;
  font-size: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  color: white;
  text-align: center;
  font-style: italic;
}
#Happyhour{
  color: #F15A29 ;
  padding-left: 10px;
  padding-bottom: 50px;
  font-size: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: center;

}
#Partytime{
  background-color: #F15A29;
  padding-bottom: 57px;
  color: white;
  font-size: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
  text-align: center;


}

.section2{
  margin:50px;
  padding-top: 240px;
}


.section3{
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 400px;
  color: white;
  text-align: center;
  color: #F15A29;

}

.drinks{
  border: solid 1em transparent;
  padding: .05em;
  box-shadow:  0 0 0.2em #be4c39;
  background: white padding-box;
  padding-right: 10px;
  padding-left: 15px;
}


.fastfoods{
  border: solid 1em transparent;
  padding: .05em;
  box-shadow:  0 0 0.2em #be4c39;
  background: white padding-box;
  padding-right: 10px;
  padding-left: 15px;


}






































<img src="assets/fastfood/beefBurger.jpg" style="display:inline" alt="drinks" width="" height="">

<img src="assets/fastfood/chickenPizza.jpg" style="display:inline" alt="drinks" width="" height="">


<div class="burgers">
  <div class="col-lg-3">
    <div>
      <p class="cb"> <br>Fast Foods</p>
    </div>
    <div>
      <img src="assets/fastfood/chickenBurger.jpg" style="display:inline" alt="drinks" width="" height="">
      <div>
        <p1> <br>Chicken Burger</p1>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div>
      <p class="bb"> <br>Drinks</p>
    </div>
    <div>
      <img src="assets/fastfood/beefBurger.jpg" style="display:inline" alt="drinks" width="" height="">
      <div>
        <p1> <br>Beef Burger</p1>
      </div>
    </div>
  </div>



  <div class="col-lg-3">
    <div>
      <p class="cp"> <br>Chicken</p>
    </div>
    <div>
      <img src="assets/fastfood/chickenPizza.jpg" style="display:inline" alt="drinks" width="" height="">
      <div>
        <p1> <br>Chicken Pizza</p1>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div>
      <p class="cp"> <br>Rice</p>
    </div>
  </div>
</div>
